*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}
html,body {
    position: relative;
}
  
body {
    overflow-y: auto;
    min-height: 100vh;
}
textarea:focus,
input:focus {
    outline: none;
}
a {
    color: inherit !important;
    text-decoration: none !important;
}
.heading{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #292b2e;
}
.navbar-brand{
    width: auto;
}
.rectangle{
    height: 7px;
    width: 20px;
    background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
    border-radius: 15px;
}
.today{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #252b42;
}
.fa{
    width: 14px;
    height: 17px;
    color: #737373;
    position: relative;
    top:50%;
}
.btn{
    text-align: left;
    font-weight: bolder;
    color: #737373;
}
.btn:focus{
    box-shadow: none;
}
@media(min-width:768px){
    .container{
        max-width: 100%;
        padding: 0rem 1rem;
    }
    .inf{
        width: 97%;
        padding: 0rem 1rem;
    }
    .navbar{
        background-color: #fff !important;
        width: 97%;
    }
    .carousel-inner{
        width:95%;
    }
}
@media(max-width:768px){
    .container{
        max-width: 100%;
        padding: 0rem 1rem;
    }
    .inf{
        width: 89%;
        padding: 0rem 1rem;
    }
    .navbar{
        background-color: #fff !important;
        width: 90%;
    }
    .carousel-inner{
        width: 89%;
    }
}
.card-title{
    color: black;
    font-weight: bold;
}
.card-subtitle{
    font-weight: 600;
}
.card-body{
    overflow: auto;
}
.card-img-top:hover{
   filter: brightness(60%);
}

@media(min-width:576px){
    .rectangleB{
        width:16px;
        height: 100%;
        background: rgb(229, 229, 231);
        border-radius: 8px;
    }
}
.carousel-control-next, .carousel-control-prev{
    width: auto;
} 
